html { background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10,144));

padding: 10px;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    }

    .container {
        max-width: 700px;
        width: 100%;
        padding: 25px 30px;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);

    }

    

   
.container .heading {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}

.container .heading::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
background-color: rgb(114, 115, 163);}

.container form .card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .card-details .card-box {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px; }
    
    
    .card-details .card-box .details{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;}
        
        
        .card-details .card-box input{
            height: 45px;
            width: 100%;
            outline: none;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding-left: 15px;
            font-size: 16px;
            border-bottom-width: 2px;
            transition: all 0.3s ease;}

            
    .card-details .card-box input :focus,
    .card-details .card-box input :valid{
        border-color: #9b59b6; } 
        
        
        form .circal-form .circal-title {
            font-size: 20px;
            font-weight: 500;
            border-bottom:2px solid;}


            form .circal-form .category {
                margin-top: 10px;
                margin-bottom: 10px;}

                form .bottom{
                    text-align: center;
                }
                
                
                form .bottom input {padding: 10px 0;
                    margin-top: 10px;
                    height: 100%;
                    width: 50%;
                    outline: none;
                    color: #fff;
                    border: none;
                    font-size: 18px;
                    font-weight: 500;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    background-color: rgb(5, 22, 22);}
                   
                   
                    form .bottom input:hover{
                    background-color: rgb(38, 226, 226);
                    }


                 @media (max-width: 584px){
                 .container {max-width: 100%;} 


                 form .card-details .card-box{
                     margin-bottom: 15px;
                     width: 100%;
                 }


                 .container form .card-details {
                     max-width: 300px;
                     overflow: scroll;
                 }

                 .card-details ::-webkit-file-scrollbar{
                     width: 0;
                    }
                }